<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>StudentRegistration</display-name>
	<welcome-file-list>
		<welcome-file>studentregistration.html</welcome-file>

	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>StudentServlet</display-name>
		<servlet-name>StudentServlet</servlet-name>
		<servlet-class>StudentServlet</servlet-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>
		</init-param>
		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>hr</param-value>
		</init-param>
		<init-param>
			<param-name>pass</param-name>
			<param-value>hr</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/student</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>tname</param-name>
		<param-value>Hemanth</param-value>
	</context-param>
</web-app>